body{
  font-family: 'Poppins',sans-serif;
  background-color: #304545;
}

a{
  text-decoration: none;
}
section{
  padding: 50px 0;
}
.main-btn{
  display: inline-block;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  padding: 10px 27px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #2F3A8F;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}
.main-btn:hover{
  background-color: #CCD1E4;
  border-color: #fff;
}
h1{
  font-size: 54px;
  line-height: 68px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 20px;
}
h1 span{
  color: #FE7E6D;
}
h2{
  font-size: 50px;
  line-height: 1.3;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}
h3{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 19px;
}
h6{
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  color: #FEECE9;
  margin-bottom: 20px;
}
p{
  color: #FEECE9;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 400;
}
.subtitle{
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 12px;
  background: #2F3A8F;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover{
  outline: none !important;
  box-shadow: none !important;
}
.header_wrapper .navbar-brand img{
  max-width: 120px;
  height: 60px;
}
.header_wrapper .nav-item{
  margin: 0 10px;
}
.header_wrapper .nav-item .nav-link{
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #2F3A8F;
  display: inline-block;
}
.header_wrapper .nav-item .nav-link::after{
  position: absolute;
  content: '';
  left: 0;
  width: 0;
  height: 2px;
  background: #FEECE9;
  transition: 0.3s;
  bottom: 0;
}
.mycls{
  padding-top: 40px;
}
.header-scrolled{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FAEEE7;
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.5);
}
.banner_wrapper{
  width: 100%;
  height: auto;
  min-height: 1000px;
  background-image: url('images/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 250px;
}
#left{
  float: left;
}
#right{
  float: right;
}
#portfolio{
  background: #1A1A40;
}
.myimg{
  height: 450px;
  width: 390px;
  margin-left: 200px;

}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.port-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
#about{
  background: #1A1A40;
}
.about_wrapper .container .mycls{
  height: 500px;
}
.about_wrapper .container .mycls:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 15px #FEECE9;
}
#contact{
  padding-top: 100px;
  background-image: url(images/bgg.jpg);
}
.conimg{
  height: 508px;
  width: 381px;
  margin-left: 220px;
}
.container-fluid{
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
  font-size: 30px;
}
.social-icon:hover{
  color: #FAEEE7;
}
